.text0 {
    display: flex;
    justify-content: center;
    margin-left: 50%;
}

.block_text{
    padding-left: 5%;
    font-size: 100%;
    margin: 0;
    padding-right: 5%;
    margin-top: 2%;
    font-size: 1vw;
    font-style: italic;
}

.text0 h4{
    margin-left: 2%;
    margin-right: 2%;
    font-size: inherit;
    height: auto;
    width:auto;
    font-size: 1vw;
    max-width: 50%;
}

.text0 h4{
    font-weight: 500;
    font-size: inherit;
    font-size: 1vw;
}
.text1_ {
    display: flex;
    justify-content: space-around;
    padding-left: 5%;
    font-size: 100%;
    margin: 0;
    padding-right: 5%;
    font-size: 1vw;
}

.text1_ h2{
    background: #a2a2a1;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 0.9%;
    padding-top: 0.9%;
    border-radius: 20px;
}

.text2{
    display: flex;
    justify-content: center;
}

.block_image1,.block_image,.block_image3,.block_image2 {
    margin: 3%;
}

.text2 img{
    background: #a2a2a1;
    padding:1%;
    height: 13vw;
    width: 13vw;
    border-radius: 10px;
    margin-right: 2%;
    margin-left: 2%;
}

.text2 .block_text h3{
    max-width: 370px;
    background: coral;
    padding: 1%;
    border-radius: 10px;
    margin-right: 2%;
    margin-left: 2%;

}

.button h2{
    margin: 1%;
    font-size: inherit;
    max-width: 100%;
    max-height: 100%;
}

.text2{
    background-color: black;
}

.text2 .block_image1 img{
    height: 100%;
    width: 100%;
}

.text4 {
    display: flex;
    justify-content: center;
}

.text4 img{
    height: 13vw;
    width: 13vw;
    background: #a2a2a1;
    padding:1%;
    border-radius: 10px;
}
.text4 .block_text h3{
    max-width: 400px;
    background: coral;
    margin-right: 1%;
    margin-left: 5%;
    border-radius: 10px;
    padding: 2%;
}

.button .block_text{
    margin-bottom: 25px;
    display: flex;
    justify-content: space-around;
    
}

.button .block_text h2{
    background: #a2a2a1;
    justify-content: center;
    padding-left: 25%;
}