.text1_ {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.text1_ h2{
    background: #a2a2a1;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 10px;
}

.text2 img {
    margin-top: 10%;
    background: #a2a2a1;
    padding:15px;
    border-radius: 10px;
    height: 200px;
    width: 200px;
    margin-right: 60px;
    margin-left: 80px;
}

.text2 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.text2 .block_text h3{
    max-width: 350px;
    background: #a2a2a1;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 10px;
    padding: 10px;
}

.text3 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.text3 img{
    height: 200px;
    width: 200px;
    background: #a2a2a1;
    padding:15px;
    border-radius: 10px;
}
.text3 .block_text h3{
    max-width: 400px;
    background: #a2a2a1;
    margin-right: 20px;
    margin-left: 50px;
    border-radius: 10px;
    padding: 10px;
}

.text3 .block_image3{
    margin-right: 120px;
    margin-left: 20px;
}

.button .block_text{
    margin-bottom: 25px;
    display: flex;
    justify-content: space-around;
}